.AddMenu-Restro-Admin {}

.add-menu-btn {
    display: flex;
    justify-content: right;
}

.AddMenu-Restro-Admin {
    width: 124px;
    height: 40px;
    background-color: #4F46E5 !important;
    border-radius: 10px;
    font-family: 'Plus Jakarta Sans';
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    color:  #FFFFFF;
    position: relative;
    right: 10px;
}