.btn-ServiceHours-Uplod{
 background-color: #2f4cdd !important;
  color: white;
  width: 10%;
  height: 33px;
  border-radius: 5px;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.container-ServiceHours-Uplod{
    text-align: center;
    /* padding: 0px 0px 0px 52px; */
    width: 100%;
    border: 1px dotted #c49871;
    padding: 20px;
}