.container-RestroBackgroundImg {
  text-align: center;
}
.Heading-RestroBackgroundImg {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  /* color: #c49871; */
  color: black;
  text-align: center;
}
.image-upload-container-RestroBackgroundImg{
  width: 500px;
  height: 200px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 20px auto; /* Centers the upload container */
}
.button-container-RestroBackgroundImg{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 20px; */
}
.deleteBtn-Backgroundimg{
  background-color: rgb(223, 22, 22) !important;
  color: white;
  width: 100px;
  margin: 6px 0;
  border-radius: 5px;
}
.uploadBtn-Backgroundimg {
  background-color: #2f4cdd !important;
  color: white;
  width: 100px;
  margin: 6px 0;
  border-radius: 5px;
}
.uploaded-image-RestroBackgroundImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-placeholder-RestroBackgroundImg {
  font-size: 20px;
}

.file-input-RestroBackgroundImg {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button-BackgroundImg{
  display: flex;
  align-items: center;
}
.row-RestroBackgroundImg{
  display: flex;
  flex-direction: row;
  border: 1px dotted #c49871;
  padding: 20px;
}
@media (max-width:1000px){
  .image-upload-container-RestroBackgroundImg{
    width: 300px;
  }
}