.restro-background-img-register {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 500;
  color: rgba(10, 10, 10, 0.9);
  text-align: left;
}

.recommendation-text {
  font-size: 16px;
  color: #5e5e5e;
}

.image-upload-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-container {
  width: 100%;
  height: 200px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 20px 0;
}

.uploaded-image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
}

.icon-placeholder {
  font-size: 18px;
  color: #5e5e5e;
}

.file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.modal-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirm-delete-btn, .cancel-delete-btn {
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-delete-btn {
  background-color: #d9534f;
  color: white;
}

.cancel-delete-btn {
  background-color: #5bc0de;
  color: white;
}
