/* .navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  color: black;
  z-index: 1000;
  box-shadow: 0px 1px 0px 0px #12203B17;

}

.navbar-title {
  font-size: 24px;
}

.DineRightLogo_Dashboard{
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.leftside_navbar_dashboard{
  display: flex;
  gap: 30px;
}
.Hamburger_MobileResponsive{
  cursor: pointer;
}

/* rightside  */
.Rightside_navbar_dashboard{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
/* centersection  */
.Centre_navbar_dashboard{
  width: 35%;
}
.Search_dashboard{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E4E4E7;
  cursor: pointer;
  height: 42px;
}
.Search_dashboard:active{
  border-color: #E4E4E7;
}
/* For mobile devices */
@media (max-width: 768px) {
.DineRightLogo_Dashboard{
  height: 10px;
}
  .Hamburger_MobileResponsive{
    height: 10px;
  }
  .Hamburger_Dashboard{
    display: flex;
    align-items: center;
  }
  .leftside_navbar_dashboard{
    gap: 10px;
  }
  .Search_dashboard{
    height: 30px;
  }
}

/* For very small mobile screens */
@media (max-width: 480px) {
  .DineRightLogo_Dashboard{
    height: 10px;
  }
  .navbar-title {
    font-size: 18px;
  }

  .hamburger {
    font-size: 20px;
  }
  .Search_dashboard{
    height: 30px;
  }
}
