/* .selected-images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .image-thumbnail {
    position: relative;
    display: inline-block;
  }
  
  .image-thumbnail img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
  }
  
  .remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .flex-bookingPeriod-btn{
    /* background-color: #c39873; */
    /* width: 520px; */
    text-align: center;
  }
  .row-bookingPeriod{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteBtn-Featuredimg{
    position: absolute;
    background-color: rgb(223, 22, 22) !important;
    color: white;
    width: 100px;
    margin: 6px 0;
    border-radius: 5px;
  }

  .selected-images {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
  }
  
  .image-item {
    display: flex;
    align-items: center; /* Align the delete button vertically centered with the image */
    gap: 10px; /* Add some space between the image and the delete button */
    flex-direction: column;
  }
  
  /* .hr-after-first-row {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
  } */
  .image-thumbnail {
    width: 180px;
    height: 100px;
    object-fit: cover;
  }
  
  .remove-btn {
    /* background-color: red ; */
    color: red;
    border: none;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
 
  .hr-menu-accordian-preview{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #c39873 !important;
  }
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #2f4cdd;
    color: white;
    border-radius: 4px;
    text-align: center;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }
  .border-Featured-img{
    border: 1px dotted #c49871;
    padding: 20px;
  }
  .no-file-chosen{
    text-align: center;
  }
  .save-btn-Featuredimg{
    /* display: block; */
    width: 10%;
    padding: 8px;
    border: none;
    background-color:  #2f4cdd !important;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }