/* src/Pages/BookSlot/EventCalender/EventCalendar.css */
.Full-calendar {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    padding: 10px;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    overflow: auto;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  
  .calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .prev-arrow,
  .next-arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .current-date {
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* for buttons /// */
  .book-calendar {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: #2F4CDD !important;
    color: white !important;
  }
  
.booking-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust spacing between boxes */
}

  /* for booking box  */
  /* coming next--blue */
  .booking-details-box1{
    /* border: 1px solid #2F4CDD; */
    background-color: #D6EFD8; 
    color: black;
    max-height: auto;
    min-height: 199px;
    width: 250px;
    border-radius: 8px;
    text-align: left;
    padding: 16px;
    line-height: 10px !important;

  }
  /* green-ongoing */
  .booking-details-box2{
    /* border: 1px solid #2F4CDD; */
    background-color: #D1E9F6;
    color: black;
    max-height: auto;
    min-height: 199px;
    width: 250px;
    border-radius: 8px;
    text-align: left;
    padding: 16px;
    line-height: 10px !important;

  }

  /* completed -gray */
  .booking-details-box3{
    /* border: 1px solid #2F4CDD; */
    background-color: #F5F5F5;
    color: black;
    max-height: auto;
    min-height: 199px;
    width: 250px;
    border-radius: 8px;
    text-align: left;
    padding: 16px;
    line-height: 10px !important;

  }

  .booking-details-box4{
    /* border: 1px solid #2F4CDD; */
    background-color: #D6EFD8; 
    color: black;
    max-height: auto;
    min-height: 199px;
    max-width: auto;
    min-width: 250px;
    border-radius: 8px;
    text-align: left;
    padding: 16px;
    line-height: 10px !important;

  }
  .Secondchild-calendar-controls{
    display: flex;
    gap: 10px;
  }

  .color-notations {
    display: flex;
    flex-direction: column; /* Align items vertically */
    margin: 10px 0; /* Space above and below the boxes */
  }
  
  .color-item {
    display: flex;
    align-items: center; /* Align items vertically center */
    gap: 5px; /* Space between color box and text */
  }
  
  .color-box {
    width: 20px;  /* Width of the color box */
    height: 20px; /* Height of the color box */
    border-radius: 5px; /* Optional: rounded corners */
    border: 1px solid black;
  }
  
  