.container-BannerVideo{
  text-align: center;
}
.Heading-BannerVideo{
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #c49871;
}
.video-upload-container-BannerVideo {
  width: 500px;
  height: 200px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin: 20px auto; /* Centers the upload container */
}
.video-preview-BannerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-placeholder-BannerVideo {
  font-size: 20px;
}

.file-input-BannerVideo {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.button-container-BannerVideo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 20px; */
}
.deleteBtn-BannerVideo{
  background-color: rgb(223, 22, 22) !important;
  color: white;
  width: 100px;
  margin: 6px 0;
  border-radius: 5px;
}
.uploadBtn-BannerVideo{
  background-color: #2f4cdd !important;
  color: white;
  width: 100px;
  margin: 6px 0;
  border-radius: 5px;
}
.button-BannerVideo{
  display: flex;
  align-items: center;
}

@media (max-width:1000px){
  .video-upload-container-BannerVideo {
    width: 300px;
  }
}